[2016-01-30 01:16] faceyspacey opened #1 "what are some of the "benefits" from Elm that you can't replicate?"
...i really like it by the way? ..Also why are generators needed?

[2016-01-30 19:38] tomkis1 commented on #1
There are two benefits:
1) Elm provides type safety so you'll get much more compiler information when something doesn't work - it works especially well with the Elm Architecture
2) There are no runtime errors in Elm

Generators are not necessary unless you need side effects and even simple applications need side effects, for example API communication, logging, caching etc. https://github.com/salsi

[2016-02-03 11:22] anler commented on #1
@faceyspacey maybe you'll like [olmo](https://github.com/kaleidos/olmo/) though I need to port all the examples

[2016-02-13 09:48] minedeljkovic commented on #1
To achieve a variation of benefit 1), in our project, we use excelent [tcomb](https://github.com/gcanti/tcomb) library, similar to how it is done in [tcomb-redux](https://github.com/gcanti/redux-tcomb). It follows composition of state and actions nicely. @tomkis1, I can do a PR here, if you are interested to see how it fits with examples.

We started the project about two months ago, and came up w

[2016-02-13 10:59] minedeljkovic opened #2 "Idea behind this repo needs to get more attention"
One of the bigest limits I find with classical Redux is it is not **fractal** (a term that is proposed and nicely explained by @staltz [here](http://staltz.com/unidirectional-user-interface-architectures.html)). I find that to be main reason why, dispite such a strong community, there are no truly reusable and well encapsulated pieces of application (calendars, datagrids, pagers, authenticaiton co

[2016-02-22 11:45] tomkis1 commented on #1
@minedeljkovic I am really glad that we are sharing the view.

 I was something about something less intrusive Flow? TypeScript? Yet I am more inclined to Flow as it's babel friendly.

Frankly, we are getting more and more skeptical about Generators as using them has its drawbacks. You can't use callbacks because `yield*` is not automatically propagated which is a showstopper for example when usin

[2016-03-14 09:06] tomsdev commented on #1
@tomkis1 could you explain why pattern matching on the action name is better than nesting actions in your opinion?
I wonder if there is a difference in performance also when you want to check for a "match".

[2016-03-14 09:10] tomsdev commented on #2
Hi @minedeljkovic, about redux-saga not being fractal, you might want to have a look at https://github.com/threepointone/redux-react-local#extra---sagas

[2016-03-14 15:26] tomkis1 commented on #1
@tomsdev it's possible to use regexp for pattern matching with plain old strings so it allows us more advanced matching. Also, unwrapping is easy because there's no need to recursively access the `action.payload.payload.payload...`

[2016-03-14 15:43] tomkis1 commented on #2
@tomsdev actually I don't really think that `redux-react-local` does solve Sagas fractability. It still depends on `getState` function which returns root application state. Therefore if the Saga is deeply nested in the hierarchy and shape of the app state changes (higher in the hierarchy) you'd still need to change the implementation of that Saga.

[2016-03-14 16:10] tomsdev commented on #2
@tomkis1 I think using getState in sagas is a bad practice, usually a saga should just react to actions. Also I'm pretty sure that you could give the saga the "connected" state of the local component.

[2016-03-14 16:41] tomkis1 commented on #2
+1 however:

actually I was also thinking about getting rid of it in my [rxjs saga](https://github.com/salsita/redux-saga-rxjs) version too.

I am using `redux-elm` with `redux-saga-rxjs` for production app now and frankly, sometimes it's really hard to achieve fractability for Sagas. It sounds really cool that Saga could potentially be totally unaware of application state yet it's practically imp

[2016-03-14 20:58] tomsdev commented on #2
I have not used sagas in development yet but I feel that a reusable component's sagas should only have access to its local state and its children states.

Sorry, I didn't mean it's possible with the current library implementation, I meant that it should be possible to implement it that way.

[2016-03-15 11:42] tomkis1 commented on #2
That's the ultimate goal, though implementation is quite hard because it would require to tightly couple reducers with sagas, still not ideal.

[2016-03-31 21:07] namjul commented on #1
@tomkis1 in which way you think immutable.js is incompatible with redux-side-effects? when do i need to yield inside immutable.js callbacks ..

[2016-04-01 07:31] tomkis1 commented on #1
@namjul imagine following:
[code]

This simply doesn't work and it doesn't work with anonymous generator as well.

[code]

does not work either.

[2016-04-01 09:15] namjul commented on #1
right thx.
but wouldn't the following work:
[code]
probably there are still situations you need an yield directly in the map callback.

In your next branch i saw that you couple redux-elm with redux-side-effects.
What i would like is to use your redux-elm action-pattern-routing solution + redux-loop to solve the problem with immutable.js.
Is there a way we can use these seperatly?

[2016-04-01 09:40] namjul commented on #1
so i tried it and build the randomGifList with immutable.js without using map:
[code]

[2016-04-01 14:52] tomkis1 commented on #1
@namjul

[code]

It would not, because your `item` function is generator and calling generator returns iterable therefore it would only set iterable into the App state.

There's (or should be) a workaround by allowing `yielding` array of effects, that way you could map effects using traditional `map` function and then `yield` the result.

What i would like is to use your redux-elm action-pattern-r

[2016-04-01 16:47] namjul commented on #1
yes, i can see that immutable.js is likely not needed with redux-elm.
i am still confused why the first example would not work. Its similar to the second example and it works.
yield* would just return the return statement from the item generator function. Which would be an immutable.js object...
[code]
it just returns the return value not an iterable. i probably miss something.

to you mind to sho

[2016-04-02 16:56] Phoenixmatrix opened #4 "Publish the pattern matching part stand-alone"
I'm really liking what I'm seeing here. I'm usually fairly critical of "Redux alternatives", since their only goal is usually to reduce typing while increasing complexity, but there's a lot of great ideas here, and it's quite elegant, after having played with Elm itself a little.

The thing I'm missing the most in JS is pattern matching, and most of the libraries out there to help with it either h

[2016-04-04 10:13] tomkis1 commented on #1
No you are not, sorry my bad, I overlooked the `yield*` keyword. You'r right that will work.

You can actually check history of the repo https://github.com/salsita/redux-elm/blob/v0.3.0/examples/src/6-list-of-random-gif-viewers/main.js#L58 the `composeSaga` function does the trick, though the implementation is wrong and does not work for all use cases.

Saga composition is indeed really hard to ac

[2016-04-04 10:39] tomkis1 opened #5 "Version 1.x"
As many of you have already noticed, there's a `next` branch which is currently under heavy development.

There're obviously many options we could go (especially for side effects model):

- side effects using `redux-loop`
- side effects using sagas
- side effects using generators

After many versions we've figured out by trial and error that we want to go the Generators way. We found `redux-loop`

[2016-04-04 10:40] tomkis1 commented on #5
Please, we are still open to ideas / suggestions therefore feel free to use this issue.

[2016-04-04 10:44] tomkis1 commented on #4
Hello @Phoenixmatrix, we'r glad for your feedback! :-)

The thing is that we are in the middle of working on 1.x (https://github.com/salsita/redux-elm/issues/5) and currently Pattern matching part is kinda hard-wired into Updater implementation which would make sense to publish as standalone package but we'd need get rid of Generators dependency, which frankly would be quite difficult now.

Howeve

[2016-04-04 10:45] tomkis1 commented on #1
Closing this issue in favour of https://github.com/salsita/redux-elm/issues/5

[2016-04-04 10:45] #1 closed

[2016-04-18 12:05] tomkis1 commented on #5
Next has been merged to master and `1.3.1` has been released.

[2016-05-04 10:41] minedeljkovic opened #11 "[Performance] Pure view (shallow render)"
In [gif-viewers-pair](https://github.com/salsita/redux-elm/tree/master/examples/gif-viewers-pair) example, it should be possible to make `random-gif-viewer` component pure, so it should rerender only when its model change. For example, when 'Request more' is clicked on 'funny cats' topic and new gif is received, component for 'funny dogs' topic should not be rerendered.

This should be easily achi

[2016-05-04 11:36] namjul commented on #11
you could also you https://github.com/acdlite/recompose/blob/master/docs/API.md#onlyupdateforkeys and just not include dispatcher.

[2016-05-04 12:26] minedeljkovic commented on #11
Thanks, @namjul !
I didn't check their API in enough detail. Would `onlyUpdateForKeys()` also ensure that call to `dispatch` from wrapped component will be properly delegated to latest instance, despite wrapped component not being rendered with it? Also general behavior for `redux-elm` views would be to update for all keys except `dispatch` but that can probably be achieved by some function from r

[2016-05-04 12:28] tomkis1 commented on #11
Thanks @minedeljkovic and @namjul

I'd agree that this should definitely be part of the framework. IMO tagged dispatch should be memoized, so I'd just change implementation of `forwardTo`.

[2016-05-04 12:37] minedeljkovic commented on #11
Great! Looking forward to see that implementation.
I must confess I tried that approach, but all I came up with was pretty cumbersome to use in components like `gif-viewers-pair` and `gif-viewers-dynamic-list`. Hope it will not be that way. :)

[2016-05-04 12:46] namjul commented on #11
@minedeljkovic i think i will just use the instance of dispatch it got initially.

[2016-05-04 13:30] minedeljkovic commented on #11
Thanks, @namjul . That would not be good for this case.

[2016-05-04 13:50] namjul commented on #11
so in your case your forwardTo function isn't static and it can change based on some logic.

[2016-05-04 13:55] minedeljkovic commented on #11
Yes, I think that is generally the case in `redux-elm`. Take for example `gif-viewers-dynamic-list`. Components in dynamic list could be reordered so their dispatch path would change.

[2016-05-04 14:47] namjul commented on #11
oh right .. missed that one :)

[2016-05-04 15:13] tomkis1 opened #12 "Investigate how to solve LLT"
One option would be:

[code]

Does this solve composition issues?

[2016-05-05 10:39] #5 closed

[2016-05-05 15:17] tomkis1 opened #13 "Remove `exactMatcher`"
Merge the behaviour into default matcher.

[2016-05-05 15:18] tomkis1 commented on #11
- [ ] Flow support
- [ ] Implementation
- [ ] Tests
- [ ] Documentation

[2016-05-09 13:40] namjul commented on #11
@minedeljkovic actually "onlyUpdateForKeys" should also return the latest dispatch function. So whenever shouldUpdate returns true, the current dispatch function is used.
https://github.com/acdlite/recompose/blob/master/src/packages/recompose/onlyUpdateForKeys.js

[2016-05-12 14:15] tomkis1 opened #15 "`redux-saga-rxjs` support"
What about get rid of redux-saga peerDep?
Figure out how?

[2016-05-13 07:27] matthewgertner commented on #15
Talking to yourself?

[2016-05-13 14:41] tomkis1 commented on #13
Implemented in #14

[2016-05-13 14:41] #13 closed

[2016-05-13 14:41] tomkis1 commented on #12
Solved in #14

[2016-05-13 14:41] #12 closed

[2016-05-13 14:41] tomkis1 commented on #11
Solved in #14

[2016-05-13 14:41] #11 closed

[2016-05-17 13:09] tomsdev commented on #2
I think that 2.x.x solved this issue, sagas are now fractal right?

[2016-05-18 09:15] tomkis1 commented on #2
Partially - yes Sagas are indeed fractal now, however we still need to spread the word and I am in the middle of writing a blog post, once it's done i'll leave link here and close this issue.

[2016-05-22 21:11] tomsdev opened #16 "Custom action matchers in Saga"
Custom action matchers are available in the Updater but not in Saga. As I understand it, at the moment the saga can only take() an action that is local to the component (e.g. wrapped).

One use case would be a global 'REFRESH' action fired in the app that would need each component saga to fetch their data again.

[2016-05-22 22:40] tomkis1 commented on #16
Actually `take` or `takeEvery` can take predicate as an argument therefore this custom logic can be implemented in Sagas as well... the question is though, should this be part of the framework? Since I believe that this should live in userland.

I don't think this would be possible even with Custom matcher, maybe it wouldn't even make sense to implement it this way. I am in favour of explicit rath

[2016-05-23 09:14] tomsdev commented on #16
I'm not sure what you mean exactly by "explicit rather than implicit action wrapping in Sagas". In Elm, the side effects are declared in the Updater so the way to take() actions that involve side effects is exactly the same as actions that just change the state. Even if in redux-elm the side effects are now declared outside of the Updater (e.g. in local sagas), I'd still expect consistency (and as

[2016-05-23 09:28] tomkis1 commented on #16
Could you provide some code snippet about what you have envisioned?

[2016-05-25 07:41] elado opened #18 "Composition Docs - typos + missing prop"
https://github.com/salsita/redux-elm/blob/master/docs/composition/README.md

1.
[code]

2.
[code]

Then where does the ChildView get its `onTextFieldChanged`?

[2016-05-26 09:52] lewtds opened #19 "Cancel saga after component is unmounted"
I see sagas are only started when mounting components but not stopped when they are unmounted. This can introduce data corruption when navigating from component C1 to component C2 of the same type.

[2016-05-26 22:45] stratospark opened #20 "Additional Flow Checking?"
What are some other ways to take advantage of static types?

* Exhaustive pattern match cases on the Updater/Reducer so we make sure to handle each type?
* Type checking the Views so that only explicitly declared Action types can be dispatched
* ...

Are any of these possible?

I am trying to evaluate the state of Redux/Flow integration. I've seen this tutorial that provides stronger type checking

[2016-05-27 08:21] tomkis1 commented on #20
Not sure if you saw `redux-elm` examples using flow, you can find them in [`redux-elm-skeleton/examples-flow`](https://github.com/salsita/redux-elm-skeleton/blob/examples-flow/src/gif-viewer-list/updater.js)

Frankly, we are always using `redux-elm` with Flow and we are getting pretty close to Elm compiling experience. Unfortunately, docs are already overcomplicated for some people and therefore i

[2016-05-27 11:10] #19 closed

[2016-05-27 11:28] tomkis1 commented on #18
Thanks for pointing this out. Actually, you are not the only one raising this issue.

[2016-05-27 11:28] #18 closed

[2016-05-27 11:33] tomkis1 commented on #2
There's a blog post written by @matthewgertner advocating this approach http://blog.javascripting.com/2016/05/21/the-problem-with-redux-and-how-to-fix-it/

Closing as there's nothing actionable here.

[2016-05-27 11:33] #2 closed

[2016-05-27 14:22] lewtds commented on #19
Wow. You're so fast! I was about to submit a similar patch (https://github.com/lewtds-forks/redux-elm/commit/3058d96e12cf1fd0954e5eb5d3a7c5f6a9286726) but then I saw this. And your code is better anyway. Thanks so much!

[2016-05-27 14:26] tomkis1 commented on #19
@lewtds sure, pushed and release `2.1.4`

[2016-05-27 17:59] ms88privat opened #21 "communication between modules seems wrong to me"
I like some of the ideas behind (redux-)elm. At the moment I'm using redux with redux saga in a real world application, which is working fine but I'm still looking for a new and better way to do things.

After reading the docs twice I got really scared by the [custom matcher chapter](http://salsita.github.io/redux-elm/custom-matchers/writing-custom-matcher.html). The way this example handles the S

[2016-05-30 09:48] tomkis1 commented on #21
It should have been better explained in docs but Custom Matcher implementation is definitely not meant to be used to solve **any** inter-component communication.

### Event Log is Source of truth, not application state

Speaking in ES/CQRS terms Event Log is source of truth and therefore technically you don't need to duplicate  business logic, since you only worry about the fact that something has

[2016-05-30 11:20] ms88privat commented on #21
@tomkis1 thanks for your reply. Could you please help my understanding further?

Please clarify, what this example shows. It does show some implementation detail of the counter component itself, right? The "CounterChanged" action is then to be used by my parent component to calculate the SUM?

My goal for this example would be to SUM over all Counter-Values within the App. Every Counter can be ind

[2016-05-30 11:54] tomkis1 commented on #21
You can reconstruct the State anytime you want / need since reducers are pure functions, the state information lies in the sequence of actions and that's the only thing that matters. This is especially **very** useful with memoized reducers (something like https://github.com/slorber/rereduce) since you can query the State anytime, without even keeping the reference to the State, you can simply re-

[2016-05-30 12:26] ms88privat commented on #21
Thats it! Nice example and idea 💯

I was thinking all the time of how I can access the state of every Counter to calculate my SUM. But you showed me now, that I can build up a new state in my CountersAggregator! Very neat.

Bringing up "action.wrap" == ID in my mind again helps also a lot. Didn't thought about that after only reading and theorizing about this library.

I will soon start my new pro

[2016-05-30 12:42] #21 closed

[2016-05-31 08:28] tomkis1 commented on #21
@ms88privat forgot to mention that but there's an excellent article https://msdn.microsoft.com/en-us/library/jj591569.aspx which covers the problem.

[2016-06-01 07:57] namjul opened #22 "Issue with a specific unmounting situation"
I came across a situation where a component
is not getting unmounted with the same actionPredix as it was mounted before.
I build an example 'dynamic-tab-of-lists' where each list is an instance of 'dynamic-list-of-counters'
The idea is to switch between them in a tabmenu.
Now it works when you provide the key property with the index of the list, but this destroys and rebuilds the whole tree on ea

[2016-06-02 09:52] namjul opened #23 "effectExecutor not available after reducer replacement"
I encountered a problem when using Webpacks HMR and replacing reducers.
The Problem is that the function used in
https://github.com/salsita/redux-elm/blob/master/src/storeEnhancer.js#L37 does not get applied after replace the reducer.
So when hot module replacement gets trigger all the sagas get cancelled but not re-initiated because all the actions don’t have an effectExecutor any more.

[2016-06-06 12:06] tomkis1 commented on #23
Fixed in 2.1.6

[2016-06-06 12:06] #23 closed

[2016-06-07 12:34] jmarceli opened #27 "usage with react-router-redux"
### For anyone looking for react-router integration here is the example:

https://github.com/jmarceli/redux-elm-router

---- ORIGINAL question

Hi, I really like this redux implementation it is really clean and well documented. Anyway I have a problem with routing. How should I refactor the code to get `react-router-redux` support?

I come up with the following solution:
**src/boilerplate.js**
[co

[2016-06-09 10:41] tomkis1 commented on #27
Hello, I am really glad that you like it!

So here's the idea:

Your root view would look like this:

[code]

And the implementation of `buildRouting` is pretty straightforward:

[code]

don't forget to modify boilerplate.js:

[code]

[2016-06-09 10:45] jmarceli commented on #27
Thanks for the solution. I'll give it a try and report back.

[2016-06-09 14:09] jmarceli commented on #27
Well, I didn't manage to make it work. Here is the result: https://github.com/jmarceli/redux-elm-router.

It doesn't change current route and every counter update ends with the warning:

[code]

Probably I misunderstood some of your ideas. If you'll be so kind and take a look I would be grateful.

[2016-06-09 14:49] tomkis1 commented on #27
@jmarceli fixed in https://github.com/jmarceli/redux-elm-router/pull/1 ... I will keep this issue opened as we need to document `react-router` integration and some best practices.

[2016-06-10 07:23] jmarceli commented on #27
Thanks for your help. Now everything works as expected. I've added a couple of commits to my repo to make the code more readable (I hope) and some comments which explains what's going on.

[2016-06-10 12:52] jmarceli opened #28 "no HMR"
Unfortunately HMR doesn't work, probably because of using stateless functions instead of React components. Are there any known workarounds for this issue?

Here is webpack log info:
[code]

[2016-06-10 12:56] tomkis1 commented on #28
Are you using `redux-elm-skeleton` ? I am considering open-sourcing some `redux-elm-boilerplate` since people tend to have problems with stuff like that and I frankly have to admit that it's not easy to tackle.

Anyway, it does work for me in my project.

[2016-06-10 13:04] jmarceli commented on #28
I've just cloned the `redux-elm-skeleton` and run: `npm i` followed by `npm start`. Then I made a small modification to `hello-world` view. This results in:

[code]

[2016-06-10 14:56] tomkis1 commented on #28
@jmarceli I've just pushed [hmr](https://github.com/salsita/redux-elm-skeleton/tree/hmr) branch to `redux-elm-skeleton` where you can see how HRM could be set up  see this [commit](https://github.com/salsita/redux-elm-skeleton/commit/e69e6a1bf0e88a368d11ef1dec8c6c47d8b29ec7)

[2016-06-10 15:11] jmarceli commented on #28
Fixed. Thanks.

[2016-06-10 15:11] #28 closed

[2016-06-11 07:52] jmarceli opened #29 "Forms"
Like in any other framework there has to be some simple way of handling forms. Until now I was using [redux-form](https://github.com/erikras/redux-form) but it is not "compatible" with Elm Architecture idea.
What do you think about that?
Do know any alternatives which might be used with redux-elm?

[2016-06-13 11:50] jmarceli commented on #29
I've manage to made a sample `redux-form` integration. Here is the repo https://github.com/jmarceli/redux-elm-form. If you will have some spare time please take a look and tell me if it suits you. If so I can make some pull requests to the documentation section and explain the integration. Probably there should be separate chapter called "Integration with other packages" or something like that.
I

[2016-06-13 12:04] tomkis1 commented on #29
Hello, I really appreciate what you did here. I am working on this issue today and came to basically same implementation. However, I am not sure how much aware you are of `v6` of `redux-form` since there will be many breaking changes which will basically not allow this approach.

My main concern is that in v6, only fields will be `connect`ed not the entire `form`, the issue is though that there's

[2016-06-13 12:24] jmarceli commented on #29
Hi. I'm aware that it will be v6 but I didn't check how much changes it will bring. It's definitely good idea to submit an issue, but I don't know if eventually it will be necessary to provide some Elm-compatible implementation of the forms (or some kind of adapter for `redux-form`).

Offtopic question: Do you manage to run/deliver any production services based on `redux-elm`? I'm asking because I

[2016-06-13 16:14] tomkis1 commented on #29
@jmarceli after deep understanding of how `redux-form` works I've decided to send a PR, https://github.com/erikras/redux-form/pull/1154 let's see where it gets us.

OT answer: Yes, we are in the middle of implementing **universal** web app which is using `redux-elm` and so far we are happy with the architecture.

[2016-06-13 16:19] jmarceli commented on #29
Thanks for handling this issue. I think that my current level of knowledge won't allow me to create valuable pull request for `redux-form` project.

[2016-06-18 09:58] kibin opened #30 "Server-side rendering"
I was looking at this project and while I was reading docs on gitbook I liked the idea, but had concerns with router and ssr. While I found [issue with examples of router integration](https://github.com/salsita/redux-elm/issues/27), I didn’t find anything about server-side rendering. Is it possible? Is there any tutorial on this?

[2016-06-18 10:09] kibin commented on #30
I found [this comment](https://github.com/salsita/redux-elm/issues/29#issuecomment-225630396) (OT answer part) in an unrelated issue, so I guess it’s possible to do server-side rendering with redux-elm. So the main question that remains: how do you do it?

[2016-06-21 20:47] tomkis1 commented on #30
Yes it's indeed possible, the implementation is pretty straightforward and done like in any other `redux` project.

So [here is our company boilerplate](https://github.com/salsita/redux-boilerplate) which supports server side render as well as `react-native` client. The specific part related to server side render is [here](https://github.com/salsita/redux-boilerplate/blob/master/src/server/server.

[2016-06-29 09:13] jmatsushita commented on #20
+1 to including typed Actions in the way proposed in the tutorial!

[2016-06-29 11:28] jmatsushita opened #31 "Applying Store Middleware"
Hi there,

I'm giving redux-elm a spin and I was wondering if it's possible to add store middleware?

I've tried this to modify the `boilerplate.js` file with https://github.com/pgte/pouch-redux-middleware:
[code]

But it doesn't seem to work.

I'm probably missing something trivial?

Thanks for your time!

Jun

[2016-06-29 21:16] eliperelman commented on #31
@jmatsushita I'm not sure if I've done it the correct way or if there will be side-effects from doing it this way, but I used the following:

[code]

[2016-06-30 05:17] tomkis1 commented on #31
@jmatsushita I tried your example and it seemed to be working except there was of course some missing imports which had to be resolved.

Can you please elaborate on what you mean by "it doesn't seem to work"?

[2016-07-02 10:26] jmarceli commented on #29
@tomkis1 maybe I solve the redux-form v6 issue without any modifications to the library. Please take a look at: https://github.com/jmarceli/redux-elm-form/tree/redux_form_v6

I'm not sure if wrapping a form in subcomponent solves all the issues but it allows me to handle form submit with redux-elm custom dispatcher (which was the problem as far as I know).

[2016-07-06 15:51] jmatsushita commented on #31
It all works (apart from my initial understanding of how it should work ;))

[2016-07-06 15:51] #31 closed

[2016-07-06 16:14] jmatsushita opened #32 "Loading initial state and hydrating."
Hi there,

What's the pattern in redux-elm to hydrate/rehydrate which if I understand correctly is the redux terminology for providing initial state from the server or a store (in my case Pouch).

I'm not sure if I can do this in the boilerplate or if it should go in the Updaters and if so how?

Cheers,

Jun

[2016-07-06 16:21] jmatsushita commented on #32
It seems maybe I should use something like https://github.com/KELiON/redux-async-initial-state ?

[2016-07-07 11:21] jmatsushita commented on #27
+1 for an example about `react-router` integration with `redux-elm` I'm wondering about the comment here: https://github.com/jmarceli/redux-elm-router/blob/master/src/template.js#L7-L8 and how elmish this is (I'm fairly new to this though so I might be wrong :) )

[2016-07-11 14:58] jmarceli commented on #27
Thanks for the feedback. I've updated `template.js` according to the Elm Architecture (see: https://github.com/jmarceli/redux-elm-router/blob/master/src/template/view.js). Please take a look and tell me how you feel about it.

[2016-07-11 17:12] jmarceli opened #33 "redux-elm-boilerplate"
Hi,
Based on https://github.com/mxstbr/react-boilerplate which is (probably) one of the most popular redux boilerplates I manage to create similar repo for redux-elm named [redux-elm-boilerplate](https://github.com/jmarceli/redux-elm-boilerplate).

I'm definitely not an expert but I think that my repo might be used as a simple showcase for anyone who is getting started with Elm Architecture in Red

[2016-07-12 22:38] jmatsushita commented on #27
You know how I feel thanks to this? Great! 😀 Very aesthetically pleasing!

[2016-07-14 03:00] stratospark opened #34 "flowtype checking with v0.28.0"
Flow broke for me when I updated. Here's what I'm getting when I run:

[code]

[2016-07-14 10:23] jmarceli commented on #27
I've updated my example code by adding custom `routerMiddleware` which allows for `push('/someroute')` usage from any elm component in the app. It is especially useful if you are using saga for handling form submissions and you want to redirect user after that.

[2016-07-18 09:57] tomkis1 commented on #34
Hello @stratospark I am aware of this and now it's fixed in `next` branch. Soon to be released with `2.2.0`

[2016-07-18 10:11] tomkis1 commented on #33
Hello!

Thanks @jmarceli, your contribution is much appreciated.

We actually have quite robust boilerplate already, (will mention that in readme and docs in next release). You may find it [here](https://github.com/salsita/redux-boilerplate), we basically wanted to have a boilerplate which supports:

- `react-native`
- `react`
- server side render
- hot reloading & redux tooling
- routing

We didn

[2016-07-18 10:23] tomkis1 commented on #32
Hello,

the idea is pretty simple, you should be able to provide initial state in `boilerplate.js` [file located in the skeleton repo](https://github.com/salsita/redux-elm-skeleton/blob/master/src/boilerplate.js#L13).

So instead of
[code]

You'd have something like:
[code]

Where `window.reduxState` would just be serialized JSON provided in initial rendering of the HTML page.

You can look into [

[2016-07-18 10:37] jmarceli commented on #33
The boilerplate which I've published is just a part/base for my app (which I decided to build on top of `redux-elm`). I've needed simple only client-side app (used as Rails API client), because as for now I have no option to support server side rendering nor react-native (that's why I didn't use your boilerplate).
My main goal is to integrate redux-form and react-router-redux with redux-elm. I'll

[2016-07-18 10:42] tomkis1 commented on #27
If you are looking for some plug&play solution, please feel free to use our [official boilerplate](https://github.com/salsita/redux-boilerplate)

[2016-07-18 10:47] tomkis1 commented on #33
Oh I didn't mean to discourage you! I mean you did really great job and I would be really happy if you kept working on `redux-elm-boilerplate` because that's something what will eventually people really need.

Anyway, feel free to mention me in any issue filed in your repo so that we can consolidate the effort.

[2016-07-18 10:54] tomkis1 commented on #22
Unfortunately this is something we can't easily solve.

redux-elm (unlike) redux is about introducing Components where Component consists of View (which in fact is React Component - that's why Component in redux-elm is something different than component in React) and Updater.

To keep Sagas fractal we need to be able to determine when the Component has been mounted/unmounted which now is automatic

[2016-07-18 10:54] tomkis1 commented on #15
Yes, anyway, let's investigate how `redux-observable` fits in since `redux-saga-rxjs` is technically dead.

[2016-07-18 11:01] jmarceli commented on #33
OK. I'll probably do that as soon as I have some more time to work on it. The first "improvement" I'm planning to do is running a demo somewhere (maybe on Heroku) because IMO that's the easiest way to show what to expect from boilerplate code.

[2016-07-18 11:09] tomkis1 commented on #20
@ryyppy could shed some light onto this, especially how much possible would it be to have type checked `view` wrapper.

eg.

[code]

[2016-07-18 17:14] tomkis1 opened #35 "Name of the library"
When I was presenting `redux-elm` @ reactive vienna I guess that @ryyppy had a good point about inconsistency between `redux-elm` and elm 17+ which has removed some concepts (FRP) and did slight changes in component composition. Function `forwardTo` has been removed and replaced by `App.map` which goal is technically still the same.

Anyway, after re-thinking everything we can now declare that `re

[2016-07-19 20:42] ryyppy commented on #20
I will have a look into that as soon as I find time this week... but I am sure there is an elegant solution. (also I wanted to take a look into your build system on how you distribute your flow types)

[2016-07-20 18:15] eliperelman commented on #35
Is the goal to have the library name still be `redux-*` or completely abstract?

[2016-07-20 19:21] tomkis1 commented on #35
Yes that's the goal. We were thinking of `redux-fractal`.

[2016-07-20 19:22] eliperelman opened #37 "Using takeEvery executes multiple times for a single action"
Trying to pinpoint the issue, but it seems that every time I try to use `takeEvery` with a simple `call`, the action is executed multiple times, in my case, it seems that the `console.log` is run 4 times. My reduced case:

[code]

Running this in a loop instead seems to have the same issue:

[code]

In my view I have a button that is bound to a signIn function via:

[code]

Adding a console.log to

[2016-07-20 19:27] tomkis1 commented on #37
Just tried that in `redux-elm-skeleton` and it seems to work just fine:
[code]

[2016-07-20 19:28] eliperelman commented on #37
Could be my boilerplate then, I'll post it.

[2016-07-20 19:34] eliperelman commented on #37
Boilerplate:

<details>
  <summary>index.js (entry point)</summary>

[code]
</details>

<details>
<summary>init.js</summary>

[code]
</details>

<details>
<summary>routing.js</summary>

[code]
</details>

<details>
<summary>reducers.js</summary>

[code]
</details>

So, I'm doing a bit of work to automate the connection of routes and reducers, so I may have missed something that is causing the erro

[2016-07-20 20:27] eliperelman commented on #37
OK, doing some more digging it appears that I get a `console.log('take some action...')` once for every reducer that uses a saga. For example, let's say I have the following reducers set up at app init:

[code]

Let's say `app`, `login`, and `somePage` are using a reducer with a saga:

[code]

When the `take(SIGN_IN)` occurs, I will get 3 `console.log`s. If I go into the `login` reducer and remove

[2016-07-20 20:29] eliperelman commented on #37
I'll try and get this into a reduced repo to debug on.

[2016-07-20 21:04] eliperelman commented on #37
OK, I have a mostly reduced repo at: https://github.com/eliperelman/redux-elm-37

[2016-07-21 01:46] stratospark commented on #35
Great library! Here are some ideas:

**redux-wrap**
**redux-nested**

Here's a wild one: **refrakt**! Unfortunately, refract is already taken: https://www.npmjs.com/package/refract

[2016-07-21 08:13] tomkis1 commented on #37
@eliperelman So the issue is that your Updater hierarchy does not form tree hierarchy and therefore the Sagas as re-instantiated. I am currently working on `redux-elm` next version which will warn user to console.

![screen shot 2016-07-21 at 10 10 07](https://cloud.githubusercontent.com/assets/5079224/17015617/629c0224-4f2b-11e6-9912-e6850b1728a0.png)

Anyway the idea is that your `App/updater` s

[2016-07-21 09:19] tomkis1 commented on #35
I really like **refract** and because it looks like the name is taken by some active library we might want to use name **refractor** which [is obviously taken too](https://github.com/kpdecker/refractor) however the repo doesn't seem very active.

[2016-07-21 18:03] eliperelman commented on #35
How about then **refractal**?

[2016-07-21 20:01] eliperelman commented on #37
Perfect, thanks so much for the help! I've incorporated your implementation of the boilerplate with my own dynamic page and routing connect, and it seems to work OK. Thanks again!

[2016-07-21 20:01] #37 closed

[2016-07-27 14:53] jmarceli commented on #35
Or maybe **reactal**.

[2016-07-27 15:01] jmarceli opened #38 "Nested routes with react-router"
Hi,
During my app development I found that dot restriction in (forwardTo)[https://github.com/salsita/redux-elm/blob/master/src/forwardTo.js#L13-L15] causes some trouble if you want to define nested routes which are also nested in Elm Architecture. Are there any reasons to restrict dot in Action names besides possible naming bugs?

I've made custom `deepForwardTo()` without that restriction and it

[2016-07-28 06:24] tomkis1 commented on #38
Hey,

I am wondering, why don't you just:
[code]

I probably miss something fundamental here.

Anyway:

No, it's just about the naming restriction. I assume it should not throw an exception but warn instead, that it's generally anti-pattern to use `.` in action types.

On the other hand your use case is perfectly valid and should be treated as nested actions.

[2016-07-28 09:14] jmarceli commented on #38
Hi,
Thanks for your reply. Nested action name is required if you want to handle subcomponent action from the wrapper component.
In my case it is updating `orders[data]` list after `order[data]` is saved. See picture below:
![image](https://cloud.githubusercontent.com/assets/4281333/17206907/51c02f7a-54b2-11e6-9a76-2abec85b947d.png)
So after saving `order` action 'OrdersPage.Order.Save' is dispatch

[2016-07-28 16:28] jmarceli opened #39 "Redux-saga side effects after unmounting component"
I've got a problem which might not be related to `redux-elm` but I'm not sure so I'll ask.

Code in question looks like that:
[code]
It's responsible for handling API calls and works pretty well as long as I'm waiting for `DataLoaded` event. If I change active page (with `react-router`) before data gets loaded then `DataLoaded` event never fires. It looks like the app doesn't return to the generat

[2016-07-28 16:32] eliperelman commented on #39
Is that DataLoading specific to the view you are on? Do you see anything in the console about the saga being cancelled?

[2016-07-28 21:20] tomkis1 commented on #39
That's actually a design decision we made. We had to tie Saga with component lifecycle and it's desired to cancel any outgoing Sagas upon component unmounting.

And frankly I believe that canceling the API call when leaving the Component is great because you don't need to worry about "phantom" API responses.

But I assume your issue is that you set loading spinner upon `DataLoading` but you will n

[2016-07-28 21:23] tomkis1 commented on #38
I totally understand your use case, but please can you elaborate why you can't do

[code]

instead of

[code]

Since those two should be equal.

[2016-07-28 23:28] jmarceli commented on #39
Yeah that's my issue. When I come back to the component it is still in "loading" state (with spinner icon). There are two possible solutions I can think of:
1. Handle all the API calls by separate component which will never be unmounted by react-router.
2. Reset loading state if mounted component is in loading state but don't do anything if component is in "loaded" state (prevents unnecessary API

[2016-07-28 23:32] jmarceli commented on #38
You are totally right. I don't know why I didn't see this in your previous example. That's exactly what I was looking for. Thanks for enlightening me :)

[2016-07-28 23:32] #38 closed

[2016-07-29 07:14] tomkis1 commented on #39
@jmarceli there are currently two local actions dispatched which are not exported but should be. For now please [use them](https://github.com/salsita/redux-elm/blob/master/src/actions.js) as String. While handling `@@redux-elm/Unmount` you could do any cleanup (eg. reset the `loading` flag)

We will export those two actions in the next version.

[2016-07-29 07:34] jmarceli commented on #39
Thanks, I forgot about those two actions.

More important for me is why do you think that cancelling unmounted components sagas is good idea? (If you are convinced about that reading text below is pointless)
From my perspective (handling API calls) it seems to be more efficient if I don't cancel them. If I do I just loose API response data (e.g. entire orders list which is returned even if I cance

[2016-07-29 07:55] tomkis1 commented on #39
It's about tradeoffs, I've had many issues where ongoing requests mutated something in the appstate which wasn't desired or even worse, could trigger another asynchronous long running transaction.

I don't think that this is a good idea, because in next version we are trying to decouple concerns however this would mean coupling Updater with Sagas.

Please, do not do it this way, because Sagas are

[2016-07-29 07:58] jmarceli commented on #39
OK. Thanks for clarification. I see I'll have to handle component unmounting action.

[2016-07-29 07:58] #39 closed

[2016-07-29 13:40] jmarceli opened #40 "React-router @@router/LOCATION_CHANGE available in subcomponents Updaters"
### Use componentWillReceiveProps method
see: [example below](https://github.com/salsita/redux-elm/issues/40#issuecomment-236243596)

--- ORIGINAL QUESTION
One of the issues during react-router integration is detecting route changes which doesn't trigger component unmounting. Example:
I've got routes: `orders/1`, `orders/2`, etc. (defined with `orders/:id` in router)
All of them uses same OrderFor

[2016-07-29 16:14] tomkis1 commented on #40
Interesting, I was also thinking about such a feature earlier. @slorber was also thinking about something similar (https://github.com/slorber/scalable-frontend-with-elm-or-redux/issues/2).

Anyway for your specific usecase, it does make sense to dispatch an action in `componentWillReceiveProps` when your router params change (it's pretty common actually in `react-router` world).

[2016-07-29 16:16] eliperelman commented on #40
Also of use is the pattern laid out in redux-boilerplate by using `onEnter` to emit a URL change action. Doesn't cover all use cases but maybe a good majority.

[2016-07-29 17:35] jmarceli commented on #40
Thanks for replies.
@tomkis1 Your solution perfectly suits my needs. My example is below (for anyone who might be interested):
[code]
@eliperelman `onEnter` is nice alternative but I'm afraid that in my case it would be hard to track down all "routing" buttons and add `onEnter` to all of them (high probability of runtime bugs).

Anyway @tomkis1 how do you feel about idea of "global" action prefixe

[2016-08-01 09:36] tomkis1 commented on #40
@jmarceli I think it's something we can totally consider adding as part of the framework. However, need to figure out proper API. So far having an option to configure "global actions" seems the most sane to me.

[2016-08-01 10:39] #40 closed

[2016-08-01 11:16] jmarceli opened #41 "[feature request] Global actions"
As described in #40 it will be nice to have an option of defining global actions. This is handy feature especially for integration with other react/redux libraries as they dispatch non-prefixed actions (e.g. `react-router-redux`).

I think that there are two options of global actions handling:
1. Built in `redux-elm` feature, enabled with some configuration options
2. Standalone package named e.g.

[2016-08-01 14:10] eliperelman commented on #41
I don't think a separate global package is necessary. If this were to be a thing, I think just having the right API in this library would be enough.

[2016-08-04 09:09] jmarceli opened #42 "Getting component path string"
Hi,
Is it somehow possible to get component path described by action `type` inside that component view? It will be very helpful for naming forms in `redux-form` (ensuring unique name).

Example:
Application state structure: `root -> orders -> order`
Actions dispatched from `order` has type of: `Orders.Order.*'

Is it possible to generate `Orders.Order` string inside Order component view?
I didn't

[2016-08-04 12:32] tomkis1 commented on #42
Would you need to display it in the UI? Or would you just need to store it in Model?

[2016-08-04 12:45] jmarceli commented on #42
As for now I'm wrapping `reduxForm()` inside stateless function which gives me possibility to provide initial values based on redux-elm component model. Still I have no idea how to provide unique value for `form` key. Here is how it looks like:
[code]

[2016-08-04 15:02] jmatsushita commented on #5
Have you considered async/await for the side-effects?

[2016-08-04 15:04] eliperelman commented on #5
Async/await cannot handle all the aspects of the side effects and would make testing much more difficult, as has been laid out in redux-saga:

https://github.com/yelouafi/redux-saga/issues/7
http://yelouafi.github.io/redux-saga/docs/basics/DeclarativeEffects.html

[2016-08-04 15:11] jmatsushita opened #43 "[docs] Explain multiple sagas with takeEvery"
Hi there,

What's the `redux-elm` idiomatic way to route events to different sagas?

Right now I do this:
[code]

Where doTHINGS branches to `doSOMETHING` and `doOTHERTHING` but I'd like to write something like what case is doing such as:
[code]

Or a variation on this.

Am I missing something obvious?

[2016-08-04 15:14] eliperelman commented on #43
@jmatsushita

Typically I structure my reducer like the following for different action-to-saga handlers:

[code]

[2016-08-04 15:24] jmatsushita commented on #43
A thing of beauty. Thanks!

[2016-08-04 15:26] jmatsushita commented on #5
Ah ha I see. But couldn't we use async/await instead of Promises (typically in `effects.js`) while keeping sagas for their declarative awesomeness?

[2016-08-04 15:31] eliperelman commented on #5
Yes, that is entirely possible, but I'm not sure there is much benefit. redux-saga's `call` function is already Promise-aware:

[code]

[code]

[code]

So as I see it, there is not much to be gained.

[2016-08-04 15:34] eliperelman commented on #5
Also async/await (Async Functions) are mostly sugar on top of Promises. You can't use them without a Promise being created somewhere along the line.

[2016-08-04 15:38] tomkis1 commented on #5
So let me explain why `async/await` can't be used for side-effects.

First of all, when you talk about side effects, you need to be more specific what you exactly mean by side effects, since you have mentioned `async/await` I suspect that you meant API call, however there might potentially be side effects which are not asynchronous, for example logging. When you call `console.log` it's impurity ye

[2016-08-05 08:55] tomkis1 commented on #42
One option would be storing the information in the app state because every action (you'd use Mount here) holds action prefix

[2016-08-05 09:31] ryyppy commented on #20
Okay, I kinda forget to do anything here, but there are currently some interesting flow PRs pending, making it very easy to create `.js.flow` files of existing dist files (https://github.com/facebook/flow/pull/2184) ... also I was not sure how and when your major changes to this project will take effect (project renaming etc.). Any thoughts on that?

[2016-08-05 10:19] jmarceli commented on #42
Thanks. I think that solves my issue.
For future reference here is the example code:
[code]

[2016-08-05 10:19] #42 closed

[2016-08-05 11:53] tomkis1 commented on #20
@ryyppy https://github.com/facebook/flow/pull/2184 is supercool, this will help us a lot with proper typing.

I am currently in the middle of quite complex rewrite and separation of concerns, so it would probably make sense to wait until version 3.x is released.

[2016-08-05 12:47] tomkis1 commented on #43
This is certainly the right way to do it, however I do not think this should be part of the `redux-elm` docs, especially when I am planning to support `rxjs` as alternative saga implementation.

[2016-08-09 13:51] tomkis1 commented on #4
@Phoenixmatrix would you be willing to have a look at #36 which actually [separates the concerns](https://github.com/salsita/redux-elm/tree/next/src/matching)?  If it's good enough, i'll pull this into a standalone library.

[2016-08-09 13:52] tomkis1 commented on #15
to be landed in #36

[2016-08-09 13:52] tomkis1 commented on #22
Closing as it doesn't seem there's anything actionable.

[2016-08-09 13:52] #22 closed

[2016-08-18 19:54] stratospark opened #44 "Can no longer 'put' in certain sagas [3.0.0]"
After updating to 3.0.0 (which I've been really looking forward to btw!), some of my sagas are no longer working. It seems to be that the `put` commands are not sending actions to the redux store. I can replicate this with a trival example. The `BLAHBLAH` action is visible in devtools in version 2.1.7, but not so in 3.0.0. However, there are some uses of `put` that still work, and I'm not sure why

[2016-08-18 21:04] stratospark commented on #44
If it might matter, I am using redux-router 2.5.1

[2016-08-18 21:28] stratospark commented on #44
The only `put` calls that work are ones that are yielded in a handler to a `takeEvery`

For example, any `put` calls in `handleQuery` will be dispatched properly and seen in devtools.

[code]

[2016-08-19 07:38] tomkis1 commented on #44
Thanks for the report, this obviously must be a bug. Let me investigate.

[2016-08-19 14:23] tomkis1 commented on #44
Fixed in `3.0.1`

[2016-08-19 14:23] #44 closed

[2016-08-29 11:35] biirus opened #46 "Dynamic component composition"
Hi, there!

Maybe I have a very stupid question but I can't understand how to make multiple components composition when the list of components is dynamically changes.
For example I have two components:

**Component**
it's view:
[code]

**ComponentList**
is's view:
[code]

it's updater:
[code]

It is totally clear for me. But what should I do, if I have dynamically changed component list. Eg:

[cod

[2016-08-29 12:14] tomkis1 commented on #46
Hello, you'd need to use `parametirezedMatcher` there's an [entire chapter](http://salsita.github.io/redux-elm/composition/dynamic-list/) in documentation which covers exactly your use case.

Something like:

[code]

[2016-08-29 12:16] biirus commented on #46
Thanks, @tomkis1!
My bad =(

[2016-08-29 12:18] tomkis1 commented on #46
np!

[2016-08-29 12:18] #46 closed

[2016-08-31 15:33] namjul opened #47 "How to pass data to childcomponents or child-redux-elm-modules"
Since using redux-elm at work i am still struggling
with some situations concerning data retrieval for childcomponents.

One is how to pass data to deep nested childcomponents.
The concept of containers in redux with which you have access to the
whole store at any nested level does not really work for redux-elm (technically it would work).
So how would i solve a situation where i need to pass prop

[2016-09-03 13:22] krzysztofpniak commented on #28
@tomkis1 why the commit you mentioned is not merged to master branch?

[2016-09-08 09:04] dalgard opened #48 "Peer dependencies?"
How come `redux-saga` and `rxjs` are peer dependencies of `redux-elm`?

If the latter imports the former somewhere in the code, shouldn't they just be regular dependencies?

[2016-09-10 22:58] ghola opened #49 "[discussion] Saga example contains bad practice?"
As i'm looking at section 2.3.1 of the documentation i can't help noticing this line:
[code]

To my understanding sagas should be state machines and as such they encapsulate their own state. The only data they get (which can contribute to it's state changes) is the one derived from the messages it receives. This is the way in NServiceBus sagas and also the recommended way in the redux-saga documen

[2016-09-12 10:25] #47 closed

[2016-09-12 21:05] zetoke commented on #48
You can control version of your sagas or rocks in your app.

[2016-09-13 10:29] dalgard commented on #48
Is "rocks" slang for Rx observables?

This doesn't really answer my question. Why are they peer dependencies? If I choose to use either, I will simply add it as a dependency to my own project, just like `redux-elm` should add them as dependencies to it.

[2016-09-13 13:13] ghola commented on #21
Sorry to resurrect this but this solution seems to be an overly complicated way to obtain something simple like a diff. Let me elaborate.

Assume we are on the server side, we're applying DDD, we have WarehouseItem a aggregate (which holds an inventory count for that item and the item dimensions) and we also have a Warehouse aggregate (which holds the occupied warehouse space ... and let's assume

[2016-09-13 13:20] ghola commented on #49
After some more reading and taking a better look at how Elm does it, i think understand why the model is being accessed in the saga. It's mainly for the lack of a better abstraction in the JS land. In Elm the model mutation and the Cmd triggering are both done in the update function and update has access to the model. I guess redux-saga was the most capable off the shelf tool that could be used he

[2016-09-13 13:33] tomkis1 commented on #48
I think @zetoke made the point albeit didn't explain it properly.

None of them are dependencies since technically you don't even need to use them, unless you want to use Sagas (`redux-saga` / `rxjs`). Generally if you are developing a library, you want to give a user full control over installed dependencies, so that we don't restrict user to have installed two versions just because `redux-elm` en

[2016-09-13 13:51] ghola commented on #21
I just got an idea, but it's still too verbose. What if the model of the child component would actually be made of two models, before and after? Like this:

[code]

Then in the saga it would be trivial to produce the diff.

Is there a way to remove the verbosity?

[2016-09-13 14:18] ghola commented on #21
One way to do it would be encapsulate the before and after switching into a function like this:

[code]

and then use it like this:

[code]

The `mutate` function is generic enough to be used with any model, as long as that model contains the before and after keys. What if the `mutate` function would be somehow part of a smarter `.case` that would detect if the model has `before` and `after` keys

[2016-09-13 14:31] tomkis1 commented on #21
@ghola I am kinda lost here. So can we have a real example why would you need reference to previous and next model?

[2016-09-13 14:43] ghola commented on #21
Sure, let's use the initial issue described by the OP. This is how the final code of the child would look like:

[code]

The parent component would listen to CounterChanged which contains the value adjustment. So now the parent can compute the sum by simply adding the `adjustment` paylod to his current sum. If the child counter is incremented the adjustment is positive, if decremented is negative.

[2016-09-13 14:46] tomkis1 commented on #21
[code]

Would this somehow help?

[2016-09-13 14:56] ghola commented on #21
Yup, your solution is much better than my attempts. It keeps everything isolated in the saga and does not pollute the actual model. So yeah, this would probably be the best solution to the OPs issue.

[2016-09-13 15:09] zetoke commented on #48
@dalgard sorry, my fault. It does not slang. Auto-correction on my phone has corrected from `rxjs` to `rocks` :disappointed:

[2016-09-13 15:24] ghola commented on #35
Fractal is about symmetry: **resym**

[2016-09-13 15:27] ghola commented on #35
Fractal is about a pattern that repeats itself: **repattern**, **repat**

[2016-09-13 16:32] dalgard commented on #48
@tomkis1 Thanks. So it comes down to avoiding an extra version. It's unfortunate that it shows up as a warning in the console, since it gives the impression that I'm doing something wrong, even when I don't need the two libs.

@zetoke It kinda makes sense as a slang word, though :)

[2016-09-13 16:45] ms88privat commented on #21
thinking outside the box marks the spot here .... 👍

(still didn't find the time to test this library in a real project :( )

[2016-09-13 21:24] tomkis1 commented on #48
@dalgard well actually, you should install those two dependencies to avoid the warning, because either way sooner or later you will get to the point when sagas come handy ;-)

[2016-09-14 10:49] tomkis1 commented on #49
The original goal of the library was to reproduce the Elm architecture in JavaScript using `redux` because of its similarities with Elm and excellent tooling. We thought that the Elm was doing things right.

If you have looked in the repo history, you'd find out that this was just a wrong approach, blindly copying the architecture over to JavaScript simply doesn't make sense because of the missing

[2016-09-14 12:16] ghola commented on #49
I have some experience with DDD and to some degree with CQRS too, although not with ES (i have not practiced ES but i do know the theory behind it). I also ported NServiceBus to PHP ([phpservicebus/core](https://github.com/phpservicebus/core)) as there was no message bus in the PHP world that had transactional guarantees for messages (atm it's only used internally and has no docs, but time provide

[2016-09-15 10:13] dalgard commented on #48
No doubt – I would argue that any real-world app need a saga. Communicating correctly is important, though.

Avoiding the bundling of two different versions of the same package in one app is probably something that should be done manually when optimizing the bundle size, anyway?

[2016-09-15 10:16] dalgard commented on #48
I'm thinking that the peer dependency feature isn't used all the time for a good reason.

Also, what about RxJS? I probably won't be using observables in my app, however great they are.

[2016-09-15 10:39] krzysztofpniak opened #50 "yield take('@@redux-elm/Unmount') not working"
How can I execute some kind of clean up code before component is unmounted?

[2016-09-15 13:39] tomkis1 commented on #50
Fixed in 3.0.2 , please @krzysztofpniak keep in mind that you should always import `Mount` and `Unmount` action types from `redux-elm` repo.

[2016-09-15 13:39] #50 closed

[2016-09-15 13:41] tomkis1 commented on #48
So what do you suggest @dalgard should we put `redux-saga` and `redux-saga-rxjs` in dependencies instead?

[2016-09-15 18:00] dalgard commented on #48
Only if they are actually used somewhere in `redux-elm`. I can't figure out what relationship these libraries have to each other – the contents of [this folder](https://github.com/salsita/redux-elm/tree/master/src/sagas) puzzles me:

[2016-09-15 18:30] stratospark opened #51 "default export not typechecking"
Using flow 0.30.0, redux-elm 3.0.1

[code]

[2016-09-18 19:50] dalgard opened #52 "Purpose of view wrapper?"
Does wrapping my component with `view()` to create a higher-order component serve any purpose in regard to composition/Elm architecture?

It looks like what it mainly does is dispatching mount/unmount actions and optimizing certain things, which are not essentially related to the fractal pattern.

[2016-09-18 19:56] dalgard opened #53 "Switch to standard boilerplate"
Trying to hide boilerplate code behind a custom `run` function in the examples does more harm than good, in my opinion.

It makes everything less easy to understand when one is used to reading other examples, and disentangling the `run` pattern in order to incorporate `redux-elm` into a more customized setup is a bit of a nuisance.

I propose that the examples be changed to standard React + Redux

[2016-09-21 07:16] dgsunesen commented on #27
Hi guys.

I feel I'm pretty close on having this to work together with TypeScript.. In my `connectView`, however, using `forwardTo` I get this error:

`error TS2339: Property 'dispatch' does not exist on type '{ model: any; } & {}'.`

My code looks just like the before mentioned example:

[code]

Can anyone point me in any direction on how to solve this?

[2016-09-21 08:55] namjul opened #54 "saga not canceled when removing item"
I tested it with the dynamic-list-of-counters example. Updating it to redux-elm 3 and adding a saga to the counter i get the following situation.
Adding a counter after i already added and removed one, it throws the following error:

'The Saga instance has already been mounted, this basically mean that your Updaters do not form a tree, please be sure that every Updater is wrapped by another Update

[2016-09-21 10:44] tomkis1 commented on #53
I always found those boilerplates way too "blackbox". For me I prefer full control over the code **and** boilerplate. Maybe we could have examples for both?

[2016-09-21 10:45] tomkis1 commented on #52
You are absolutely right, it's there so that we can instantiate/deinstatiate fractal Sagas.

[2016-09-21 15:27] dalgard commented on #52
How does that work, exactly?

I'm in the process of employing `redux-elm` in an enterprise front-end architecture, and it is important for me to understand the role of each piece.

[2016-09-21 15:30] dalgard commented on #53
What you're saying sounds exactly like my argument? The `run` function is a black box, which takes away my control over the code.

It's not a difficult task to unravel your code, it's just that one would expect for users of `redux-elm` to be very familiar with the standard boilerplate for React + Redux projects – and not with your custom implementation, which consequently introduces some cognitive

[2016-09-21 16:31] krzysztofpniak commented on #50
Thanks for really quick reaction

[2016-09-21 16:37] krzysztofpniak opened #55 "React context access"
How can I access React 'context'? https://facebook.github.io/react/docs/context.html
I'm trying to implement form library that is compatible with redux-elm and I would like to pass form name down to fields. I know it's not the best solutions, but at the moment I don't see any other options. Anyways, I realized that I cannot access react context inside components wrapped by view(). I took a look on

[2016-09-25 14:27] namjul opened #56 "endless loop when TypeError"
With React 15 and redux-elm 3, there is a sitation where you get into an endless loop.
If you update [gif-viewer-dynamic-list](https://github.com/salsita/redux-elm/blob/master/examples/gif-viewers-dynamic-list) to redux-elm 3 and add an TypeError to the
render function of [random-gif-viewer](https://github.com/salsita/redux-elm/blob/master/examples/gif-viewers-dynamic-list/src/random-gif-viewer/vi

[2016-09-26 11:03] tomkis1 commented on #54
This is actually much broader problem.

The issue is that when you remove the model from appstate which triggers re-render and this re-render calls `componentWillUnmount` which dispatches `Unmount`. However, when `Unmount` is being processed again, the model does not exist in the app state anymore, therefore it can't be passed to corresponding sub-updater which would handle the action.

The logic

[2016-09-26 12:11] namjul commented on #54
Why is it that we have to disallow the user to react to `Unmount` ?

[2016-09-26 13:21] krzysztofpniak opened #58 "Unit tests examples"
I'm 100% sure that unit tests are easy in redux-elm, but it would be nice if docs provide some of examples.

[2016-09-27 09:46] krzysztofpniak commented on #52
@dalgard the code is really short (~60LOC): https://github.com/salsita/redux-elm/blob/master/src/view.js

[2016-10-05 12:25] jmatsushita opened #60 "Apollostack"
Hi there,

I was wondering if you had interest in supporting or explaining how redux-elm could be integrated with Apollo? The [redux foundation](http://dev.apollodata.com/react/redux.html) seems like it would allow this in a pretty straightforward way but I'm not clear about how one would go about keeping the elm-ish approach.

Any thoughts?

Cheers!

Jun

[2016-10-06 00:35] bjeanes commented on #60
My thoughts exactly. I really like the Elm Architecture in general and really want to give redux-elm a spin but the data layer is GraphQL. Apollo is what I've been playing with in Redux already. I hope there's a natural composition of these two libraries...

Would love the authors' input on if this seems readily attainable.

[2016-10-07 04:49] faceyspacey commented on #28
webpack devserver is problematic. we should use webpack-hot-middleware and the latest version of react-hot-loader. It supports stateless functions.

[2016-10-12 12:47] jmatsushita opened #61 "Don't Call PropTypes"
Hi there,

I'm getting a `Don't call PropTypes` warning https://facebook.github.io/react/warnings/dont-call-proptypes.html after upgrading to `react@15.2.1`.

The full warning is:
[code]

Cheers,

Jun

[2016-10-13 18:24] namjul commented on #55
This should work independent of using view(). Context is not to be passed down. thats why they exist.

[2016-10-13 18:32] namjul commented on #61
Works for me. Are you using PropTypes other then annotating React components?

[2016-10-15 14:36] jmatsushita commented on #60
Maybe @jmarceli would have some suggestions, given the great work done wrapping `redux-form`?

[2016-10-15 16:15] jmarceli commented on #60
I'm sorry but that's the first time I'm hearing about Apollo stack. GraphQL backend seems to be a promising solution (now I'm building Rails REST API which makes development quite complicated). I may try to integrate that with Elm but now I'm too busy to look into that.

[2016-10-17 19:39] dvshur opened #62 "Sibling components interaction best practice"
Hi guys,

so I was wondering, what is the best practice for making sibling components interact with each other? Imagine I have two components in different branches of a state tree: a form and a button (the button is somewhere else on the page outside the form), and I need, for example, to validate the form on a button click. Like this:

<img width="500" alt="2016-10-17 10 34 34" src="https://cloud

[2016-10-17 21:07] stratospark commented on #62
@dvshur This looks like the perfect place for redux-saga. Look into some of the examples

Basically, your parent component Updater should be attached to a saga. This saga can `takeEvery` action dispatched clicking the submit button, then handle that in a sub-saga. Inside that sub-saga, you can dispatch the form validation, wait for a response, then dispatch success or error actions. Your reducers

[2016-10-17 21:28] dvshur commented on #62
But parent component sagas (and the updater as well, for that matter) only have access to parent component actions, while Form 'Validate' is a Form action. Child component's actions are supposed to be incapsulated in a child.

In this case I rather need a way for a parent component to affect the child's state (upon receiving its 'Submit' action on button click)

[2016-10-17 21:30] biirus commented on #62
@stratospark there is some cons.
- you should know exact the same type of action which has been dispatched from `button` component at `form` component. And it will break whole component encapsulation.
- you are able to place *action watchers* whole over components tree. It will cause some unexpected side-effects.

There is a good article about components communication https://facebook.github.io/re

[2016-10-20 22:52] ccorcos opened #63 "Performance"
Doesn't this entirely destroy the laziness of React components?

https://github.com/salsita/redux-elm/blob/master/src/forwardTo.js#L14

I've come up with an interesting solution here:

https://github.com/ccorcos/elmish/blob/narrative/src/tutorial/7-lazy-react/index.js#L55-L63

Where I use shouldComponentUpdate to compare dispatch functions using a `.equals` function that remembers all the partiall

[2016-10-25 09:54] tomkis1 commented on #63
Yeah, `forwardTo` indeed returns a new reference.

However, I am not really fan of storing memoized function arguments in the function reference itself. I could imagine `_.memoize` could do the trick.

We have to decide how we want to handle this, because I do believe that this kind of performance optimization should be in user land.

[2016-10-25 09:56] tomkis1 commented on #62
Elm is all about top-down hierarchy approach, so yes probably the right Elmish approach would indeed be moving the state information up to the parent.

[2016-10-25 09:57] tomkis1 commented on #61
WFM too, any way to provide some additional information? Like full stack trace? Are you sure, that this warning is not causing your code base?

[2016-10-25 09:59] tomkis1 commented on #55
@namjul is right, basically you just need to define `contextTypes` and should be passing that automatically.

[2016-10-25 09:59] #55 closed

[2016-10-25 10:02] tomkis1 commented on #53
Oh yeah sure, my point was that this boilerplate should be *very* minimalistic so that everybody can understand what's going on under the hood. Maybe we could document the function better.

[2016-10-25 10:02] tomkis1 commented on #4
Closing, nothing actionable here.

[2016-10-25 10:02] #4 closed

[2016-10-25 10:03] tomkis1 commented on #15
Closing in favour of #36

[2016-10-25 10:03] #15 closed

[2016-10-25 10:03] tomkis1 commented on #16
Closing, solved by Saga & matchers decoupling in v3.

[2016-10-25 10:03] #16 closed

[2016-10-25 10:04] tomkis1 commented on #27
Closing, nothing actionable here.

[2016-10-25 10:04] #27 closed

[2016-10-25 10:06] #30 closed

[2016-10-25 10:07] #32 closed

[2016-10-25 10:12] kdalgaard commented on #53
Definitely, Less is more.

[2016-10-25 10:14] tomkis1 commented on #29
So we've come up with a conclusion that `redux-form` is quite opinionated library even in plain `redux` which makes it even more difficult to integrate with `redux-elm`. Maybe more focused library would do the trick better.

[2016-10-25 10:14] #29 closed

[2016-10-25 10:20] tomkis1 commented on #33
will be mentioned in v3.1.0 https://github.com/salsita/redux-elm/tree/next#boilerplate

[2016-10-25 10:20] #33 closed

[2016-10-25 10:21] #34 closed

[2016-10-25 10:23] tomkis1 commented on #41
I kinda like an idea of allowing user to dispatch global actions, it may seem like a hack, but it's not, because `redux-elm` works very well with model in form of tree, but doesn't work well with normalized data (which may eventually be handy) so I perceieve this as a bridge between these two approaches.

[2016-10-25 10:23] tomkis1 commented on #43
Closing, nothing actionable here.

[2016-10-25 10:23] #43 closed

[2016-10-25 10:24] #49 closed

[2016-10-25 10:25] #52 closed

[2016-10-25 10:28] tomkis1 commented on #60
Unfortunately I do not have any experiences integrating Apollo into `redux-elm` but I already did that in plain `redux` and it was pretty essential to normalize all entities.

[2016-10-25 10:29] #51 closed

[2016-10-25 10:29] #56 closed

[2016-10-25 10:47] tomkis1 commented on #58
Well yeah, I didn't go into a depth because basically unit testing in `redux-elm` should follow the best practices of unit testing Sagas & Reducers.

Testing reducers is *very easy*:

[code]

So it's all about expecting output based on input.

Testing Sagas is theoretically easy, but it's not that easy in practice because you need to follow some good practices, like for example avoiding `yield*`:

[2016-10-25 10:47] #58 closed

[2016-10-25 10:53] tomkis1 commented on #48
Maybe, but I'd still prefer to give user a chance to choose the right version of `redux-saga` and `rxjs` because they will most likely have these libraries already and the last thing we want is same library in different versions.

[2016-10-25 10:53] #48 closed

[2016-10-25 19:51] ccorcos commented on #63
`_.memoize` doesnt clean up though. you'll have a memory explosion.

[2016-10-27 09:44] namjul commented on #54
@tomkis1 There is still an issue with concatenating action patterns.
For example i get the following action when using the ParameterizedMatcher which never ends the id with a dot.
`Explore.QueryList.Query.0DimensionFilter`
This causes a missmatch at moun/unmount in the sagaRepository.

[2016-11-06 05:53] ian4hu opened #64 "Request to join cdnjs"
this is a great lib for redux, and I'm using it with public cdn service, and I can not found it in the cdnjs, would you mind to send redux-elm to cdnjs?

here is the [cdnjs/cdnjs](https://github.com/cdnjs/cdnjs)

[2016-11-08 17:49] ian4hu commented on #64
Close now, join to cdn later

[2016-11-08 17:49] #64 closed

[2016-11-08 17:51] ian4hu opened #65 "Build a umd package for Browser usage"
I want to use this framework as a external library and host it on cdn, but the build command is not found in package.json

[2016-11-15 12:58] gadyonysh opened #66 "Reduce bundle size by using rxjs modularity"
Hello,

I want to reduce my app bundle size and not to include all rxjs in redux-elm sagas implementation.
I've replaced in RxjsSaga.js and ReduxSaga.js
`import { Subject } from 'rxjs';`
with
`import { Subject } from 'rxjs/Subject';`
as described [here](https://github.com/ReactiveX/rxjs)
After that my app bundle size reduced by ~186kB with no changes in functionality.

Do we really need to include

[2016-12-12 19:21] biirus opened #67 "Mount order and saga registering"
Hi, folks!
I'm stuck on registering saga problem.

There are a few components:
[code]

[code]

And `Lesson` has an updater with saga.

[code]

Console logs appear in such order `Player Mount` => `Lesson Mount`.

The `HOC` *view* mounts after it's inner component, that's why `Lesson.@@redux-elm/Mount` action fires after `Lesson` component mounts.
When `Lesson` dispatches `{type: 'FETCH'}` it's saga

[2016-12-13 08:39] namjul commented on #67
The Lesson saga is already called when Lesson view gets mounted. So if you want to call a function when Lesson gets mounted just call it in the saga.
The saga should be used for initialization.

[2016-12-13 08:43] biirus commented on #67
@namjul, thanks for your advice. It seems to be right choice.

[2016-12-13 08:47] dvshur commented on #67
@namjul, but what if you want this function to access some props available only in the component view?

Like, for example, if you pass an API url to fetch from in component props. How do you make an on-mount API request to this URL?

[code]

[2016-12-13 09:26] namjul commented on #67
@dvshur i think there is no simple solution for this but you could extend the redux-elm/view and override the dispatch function to take in the props.

[2016-12-13 11:02] dvshur commented on #67
Maybe we should make a feature request? To provide a simple way to access component props in saga?

As far as I understand you can currently use `select` to get component state in saga, but there is no way to access the props. And sometimes you need to.

[2016-12-16 11:56] dgsunesen opened #68 "Get currentUser state in component Updater"
Hi,

So I have the following in my `boilerplate` file:

[code]
Where user contains the currentUser logged in.
How would I access that users property in a redux-elm components `Updater`?.. I have a saga in an `Updater` that needs the users id in order to call an endpoint in there.

In my components `Updater` I want to be able to do something like the following:

[code]

Where `userId` is the id fro

[2016-12-19 15:00] tomkis1 commented on #68
I suppose your `fetchLocations` is being executed when some actions kicks in, right? You might want to keep the `userId` in the payload of the action so that you can easily pass it to `fetchLocations` saga.

[2016-12-19 16:03] dgsunesen commented on #68
[code]

So I'm getting locations once I enter the route with this component.

[2017-01-11 18:53] biirus commented on #67
I'm still stuck with it.

If I move ```this.dispatch({ type: Mount });``` from ```componentDidMount``` method to ```componentWillMount``` the code works well.

@tomkis1, can you explain me, what am I doing wrong?
Or may be I should make a PR.

[2017-01-13 16:28] vasyl-purchel opened #69 "Sagas not getting unmounted"
Hi, I found a problem while trying to use `react-router` with `redux-elm`.

If I have simple components without sagas all works as in this [example][1].

Through if I'm creating components with sagas as mentioned in [tutorial][2] I get a problem when changing location more then once to component with saga:

[code]

I've used components from tutorial:

router/view.js:
[code]

router/updater.js:
[co

[2017-01-13 17:43] namjul commented on #69
Also mentioned in https://github.com/salsita/redux-elm/issues/54#issuecomment-256596244

[2017-01-16 14:24] dgsunesen commented on #41
Where are we with this?

I have a case where I have a wrapper `App` component which `updater` looks something like this:

[code]

How would I dispatch an action for `TOGGLE_SIDEBAR` from within a nested elm component from whereever in my app?

Right now, if I `dispatch({type: "TOGGLE_SIDEBAR"})` from a nested elm component `UserView`, it actually dispatches `UserView.TOGGLE_SIDEBAR`..

Is it possi

[2017-01-16 16:49] tomkis1 opened #70 "Version 4.x.x"
Stay tuned... to be added soon :-)

[2017-01-16 16:51] dvshur commented on #41
@dgsunesen, have you tried using a custom matcher?

http://salsita.github.io/redux-elm/custom-matchers/writing-custom-matcher.html

Using it, for example, you could listen to any event than ends with `TOGGLE_SIDEBAR` (however deeply nested in a tree) in a parent/grandparent updater.

I'm not sure if this approach would cover every possible use case, but sometimes you can get away with it.

[2017-01-16 16:57] dgsunesen commented on #41
@dvshur - Thanks. I'll let you know if this solves my problem :-)

[2017-01-17 08:24] krzysztofpniak opened #71 "redux-saga update"
Please update peerDependency of redux-saga, current version does not contain some useful helpers like throttle.

[2017-01-17 10:33] tomkis1 commented on #71
Could you please file a PR? I am actually in the middle of complete rewrite. Which could potentially help solve all the pain points with current approach. Unfortunately, there will be breaking changes.

[2017-02-06 21:28] stratospark commented on #70
@tomkis1 We have some key parts of our app written with redux-elm. I am all for transitioning into a simpler architecture.

I'm wondering what the consensus is about the fractal architecture described in: https://blog.javascripting.com/2016/05/21/the-problem-with-redux-and-how-to-fix-it/. This was a key article that convinced me to go with redux-elm. Do the arguments listed in that article still a

[2017-02-06 21:43] ccorcos commented on #70
I actually really like how hyperapp works -- its very similar: https://github.com/hyperapp/hyperapp

[2017-02-12 08:50] ntucker opened #74 "Documentation links 404"
Is this project still maintained?

[2017-02-13 02:08] ashishsc commented on #74
Yeah this JUST started happening, I don't know the story.

[2017-02-13 08:23] orther commented on #74
It looks like the project is being renamed to **prism** since the repo has been renamed to that. So to see docs: http://salsita.github.io/prism/

[2017-02-13 09:29] tomkis1 commented on #74
Yes, the project has been renamed, please be aware, we are currently in the middle of transition phase to brand new architecture.

I've just updated links to old documentation in master branch so that the old version is still usable.

[2017-02-13 09:29] #74 closed

[2017-02-16 05:52] ntucker commented on #74
Is http://salsita.github.io/prism/ the old or new docs?

[2017-02-16 08:42] tomkis1 commented on #74
Unfortunately it's still for the old version. Planning to release more lightweight version of docs for next release soon.

[2017-02-21 14:08] tomkis1 commented on #71
In version 4.x we no longer rely on `redux-saga`.

[2017-02-21 14:08] #71 closed

[2017-02-23 15:23] tomkis1 commented on #69
Closing because of irrelevance. `prism` v4 does not deal with Sagas anymore.

[2017-02-23 15:23] #69 closed

[2017-02-23 15:23] tomkis1 commented on #68
Closing because of irrelevance. `prism` v4 does not deal with Sagas anymore.

[2017-02-23 15:23] #68 closed

[2017-02-23 15:27] tomkis1 commented on #67
`redux-elm` aka `prism` does not deal with "Components" anymore, you don't need to hassle with Component lifecycle, should be solved in user land.

[2017-02-23 15:27] #67 closed

[2017-02-23 15:28] tomkis1 commented on #66
Rxjs is not part of redux-elm (prism) anymore.

[2017-02-23 15:28] #66 closed

[2017-02-23 15:32] tomkis1 commented on #35
Library has been renamed to `prism` not `redux-prism` since technically it's not related only to redux but react as well.

[2017-02-23 15:32] #35 closed

[2017-02-23 15:33] tomkis1 commented on #20
After major v4 rewrite, we have decided to re-write the library in TypeScript, so typings are also included and library should be fully-typed.

[2017-02-23 15:37] tomkis1 commented on #53
Closing, there's no additional boilerplate need. Redux-elm aka. prism is now just a set of helpers.

[2017-02-23 15:37] #53 closed

[2017-02-23 15:38] tomkis1 commented on #54
Fractability of Sagas now lives in user-land. Closing.

[2017-02-23 15:38] #54 closed

[2017-02-23 15:39] tomkis1 commented on #61
Please @jmatsushita can you check again? We've done a major rewrite.

[2017-02-23 15:40] tomkis1 commented on #62
Even plain React explains that pretty-well https://facebook.github.io/react/docs/lifting-state-up.html

[2017-03-10 19:32] krzysztofpniak opened #77 "Where is documentation for v3?"
I'm using redux-elm in 4 production applications. I'm not going to switch to prism soon, because I do not have time for this. I think you shouldn't just remove docs to v3, because you released whole new product. Better option is to left old one with information that it is deprecated.

Regards
Krzysztof

[2017-03-10 20:22] eliperelman commented on #77
Looking at the v3.1.0 tag, it appears that the docs are still there:

https://github.com/salsita/prism/tree/v3.1.0/docs

[2017-03-13 09:01] tomkis1 commented on #77
Yes, the whole history is still findable on git.

[2017-03-13 09:01] #77 closed

[2017-04-10 10:03] Dattaya commented on #70
@tomkis1, thanks for the great library. I hope it's fine if post here a question: Are there helpers to deal with a situation when a user can create any amount of counters dynamically (for example by pressing a button)? Or I should build my own smarter unwrapper and handler that can distinguish and initialize if necessary Counter1_/Counter2_/.../CounterN_?

[2017-04-10 15:25] tomkis1 commented on #70
Hello @Dattaya thank you for your feedback :) Easiest way is to compose all the actions with following pattern `Counter.1.Increment`. Therefore you can us `buildUnwrapper('Counter')` and deal with unwrapping dynamic action right in the handler... so you would just map unwrap manually `1.Increment` into `const index = 1` and `action = { type: 'Incremnet'}` and pass it down the corresponding reducer

[2017-04-13 13:45] Dattaya commented on #70
Thanks, your comment was very helpful! In case anyone's interested, here's how `countersPairReducer` for dynamically created counters might look like:

[code]

[2017-04-26 01:32] reem commented on #70
What I really loved about the redux-elm library was that it gave a way to write a react/redux application using a truly fractal architecture. It seems like your linked "proper architecture" (mastermind) does not use a fractal architecture, it has reducers, components, sagas, etc. all separated from each other rather than grouped together. This seems like a rather different way of doing things!

Wh

[2017-04-26 02:40] ccorcos commented on #70
If you're trying to go the declarative, pure functional approach, I think the best way to handle side-effects is the same way you handle rendering. This is how Elm 0.17 works, and here's a little example I built that could give some inspirations: https://github.com/ccorcos/arbol

[2017-05-11 09:19] dvshur opened #78 "Props 'selector' and 'wrapper' get passed down to enhanced component"
Hi,

I noticed that in current implementation of `enhanceComponent` the enhanced (inner) component receives prism-specific props `selector` and `wrapper`. For me it caused a problem with a 'controlled input' component where props got passed down further by something like `{ ...rest }` to native HTML tag, causing a  React ``Warning: Unknown props `selector`, `wrapper` on <input> tag.``.

As far as

[2017-05-16 17:02] jcheroske commented on #70
@tomkis I was wondering if you could answer a couple of questions about this library and elm-architecture in redux more generally.

I've stumbled upon `prism` because I was looking for a way to compose redux-enabled components. Having used redux a bit in the past, I found that it made some hard things easy, but also made some easy things hard, and I knew there had to be a better way. Enter the elm

[2017-05-22 16:38] jcheroske opened #79 "prism-redux/escapeRegexp.js is missing a character in the regex"
The `replace()` call is missing a '$' character:

Original file:
[code]
Should be
[code]
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions

[2017-05-23 13:00] dvshur commented on #78
@tomkis could you please take a look?

I could submit a PR if you think this is a right idea.

[2017-05-23 14:46] #79 closed

[2017-05-24 04:07] jcheroske opened #81 "Questions about using side-effect libraries with prism"
I'm looking for a side-effect solution that can play nice with our prism-enhanced architecture. We were going to use redux-observable before I stumbled upon prism, but now I'm really not sure which way to go. Specifically, I'm wondering:

1. Can someone post an example of a redux-observable being used alongside prism?

1. `redux-loop` seems to have such a sweet effect model. Is using it with `pris

[2017-05-30 08:54] dvshur commented on #78
@tomkis thank you for fixing the issue, but could you please publish the fix to npm?

[2017-05-30 09:55] tomkis commented on #78
@dvshur apologies, I totally forgot to publish the change. Should be fixed in prism@4.1.2

[2017-05-30 09:55] #78 closed

[2017-06-01 12:24] dfedynich opened #82 "How to wrap/unwrap dynamic components?"
Hello, team!

I wonder, how to manage with wrap/unwrap process, when the number of reusable components can be changed dynamically?

In you your example you assume, that we there are only two specific counters: top and bottom. But what if counters can be created/deleted dynamically? How to specify selector and wrapper in this case?
[code]
How should I build the reducer in the case of dynamic compon

[2017-06-01 17:51] amakhrov opened #83 "Provide a wrapper compatible with the library-provided unwrapper"
The library provides the standard unwrapper (https://github.com/salsita/prism/blob/master/packages/prism-redux/src/unwrappers/buildUnwrapper.ts). This unwrapper assumes a particular format of a wrapped action.

However, there is no standard wrapper compatible with this unwrapper. One has to write it themselves every time.
And if the standard unwrapper changes in future versions, the existing code

[2017-06-01 19:39] Dattaya commented on #82
@dfedynich, take a look at @tomkis' [answer to my question and an example in the next message](https://github.com/salsita/prism/issues/70#issuecomment-292984294), should be enough information for you to solve this task.

[2017-06-02 09:07] dfedynich commented on #82
@Dattaya, thank you, Yaroslav, for the response and quick feedback. Your implementation to handle with dynamic components is clear. Now, I understood some of the ideas in prisma to move from the library to the set of HOC, utils and wrappers. The wise and light way in my view.

[2017-06-02 09:07] #82 closed, assigned to nobody

[2017-06-09 09:18] dfedynich opened #84 "EnhanceComponent doesn't work with thunk middleware"
Hey, team. As far as I know, EnhanceComponent makes monkey patching for **dispatch** method to allow wrapping dispatched actions. Here is the patch

[code]

But how can we work with thunks, when a function is dispatched instead of an action? Could you provide a general solution to work with this kind of middleware?
Do we need to change EnhanceComponent source code each time, when we want to suppor

[2017-06-26 20:25] jmarceli commented on #35
@tomkis are you sure that `prism` is the right naming choice? There is already well known http://prismjs.com/ library which will make any topic related to this repository hard to find with Google.

[2017-07-09 19:16] dalgard opened #85 "Dynamic list of stateful components"
Sorry if I'm missing a note about this, but does Prism come with a recommended way of handling dynamic lists of instantiable components?

I seem to remember `redux-elm` doing this, but not how? The problem would be in the reducer.

Relatedly, I can't figure out how to set `initialState` for such dynamically added components.

[2017-07-10 21:09] dalgard commented on #85
I remember now that `redux-elm` used lifecycle actions to set up state for wrapped components.

Was this technique abandoned? And why?

[2017-07-29 12:45] qbolec commented on #41
How would one solve this problem in Elm?

Btw. I've found this project while trying to find an answer to [my question](https://stackoverflow.com/questions/45368154/how-to-organize-redux-state-for-reusable-components) about reusable components in Redux. I guess you are very qualified to answer it.

[2017-07-29 19:30] jcheroske commented on #41
I don't know if this library has an answer to that issue. There are many
libraries that attempt to bring elm-like composition to redux, and some do
address this. Check out redux-subspace for an example.

On Sat, Jul 29, 2017 at 5:45 AM qbolec <notifications@github.com> wrote:

[2017-12-21 11:26] #62 closed

[2018-06-12 12:29] q13 commented on #62
Need more approach

[2018-08-16 16:05] #65 closed